[package]
authors = ["Shinyzenith <https://aakash.is-a.dev>"]
description = "Screenshot tool for wlroots based compositors implementing the zwlr_screencopy_v1 protocol."
documentation = "https://docs.rs/crate/wayshot/latest"
edition = "2021"
homepage = "https://waycrate.github.io"
keywords = ["screenshot", "wayland", "wlroots"]
license = "BSD-2-Clause"
name = "wayshot"
repository = "https://git.sr.ht/~shinyzenith/wayshot"
version = "1.2.2"
exclude = [
    "CODE_OF_CONDUCT.md",
    "CONTRIBUTING.md",
	"contrib/*",
	"docs/assets/*",
	"release.sh",
]

[build-dependencies]
flate2 = "1.0.24"

[dependencies]
clap = "3.1.18"

env_logger = { version = "0.9.0", default-features = false, features = ["atty", "termcolor"] }
log = "0.4.17"

wayland-client = "0.30.0"
wayland-protocols = { version = "0.30.0", features=["client", "unstable"] }

libwayshot = { path = "../libwayshot" }

image = { version = "0.24", default-features = false, features = ["jpeg", "png", "pnm"] }

[[bin]]
name = "wayshot"
path = "src/wayshot.rs"
