[package]
name = "wayshot"
version.workspace = true
authors.workspace = true
description.workspace = true
documentation = "https://docs.rs/crate/wayshot/latest"
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true

[build-dependencies]
flate2 = "1.0.35"
eyre = "0.6.12"


[dependencies]
tracing.workspace = true

libwayshot.workspace = true

clap = { version = "4.5.34", features = ["derive"] }
tracing-subscriber = "0.3.19"

image = { version = "0.25", default-features = false, features = [
	"jpeg",
	"png",
	"pnm",
	"qoi",
	"webp",
	"avif",
] }

dialoguer = { version = "0.11.0", features = ["fuzzy-select"] }
eyre = "0.6.12"
chrono = "0.4.39"

wl-clipboard-rs = "0.9.2"
rustix = { version = "1.0", features = ["process", "runtime"] }

shellexpand = "3.1.1"
toml = { version = "0.8.20", default-features = false, features = ["parse"] }
serde = { version = "1.0.219", features = ["derive"] }
dirs = "6.0.0"
libwaysip = "0.3.0"

[[bin]]
name = "wayshot"
path = "src/wayshot.rs"
