[package]
name = "wayshot"
version.workspace = true
authors.workspace = true
description.workspace = true
documentation = "https://docs.rs/crate/wayshot/latest"
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true

[build-dependencies]
flate2 = "1.0.27"

[dependencies]
tracing.workspace = true

libwayshot.workspace = true

clap = "4.4.6"
tracing-subscriber = "0.3.17"

image = { version = "0.24", default-features = false, features = [
	"jpeg",
	"png",
	"pnm",
	"qoi",
] }

dialoguer = { version = "0.11.0", features = ["fuzzy-select"] }
eyre = "0.6.8"

[[bin]]
name = "wayshot"
path = "src/wayshot.rs"
