[package]
authors = ["Shinyzenith <https://aakash.is-a.dev>"]
description = "Screenshot crate for wlroots based compositors implementing the zwlr_screencopy_v1 protocol."
keywords = ["screenshot", "wayland", "wlroots", "wayshot"]
license = "BSD-2-Clause"
repository = "https://git.sr.ht/~shinyzenith/wayshot"
name = "libwayshot"
version = "0.2.0"
edition = "2021"

[dependencies]
image = { version = "0.24", default-features = false }
log = "0.4.19"
memmap2 = "0.7.1"
nix = "0.26.2"
thiserror = "1"
wayland-client = "0.30.2"
wayland-protocols = { version = "0.30.0", features=["client", "unstable"] }
wayland-protocols-wlr = { version = "0.1.0", features = ["client"] }
